<div class="row margin-top-50">
    <div class="col-md-8">
        <iframe src="https://player.vimeo.com/video/141078111" width="100%" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h3>Why Just Cool Socks?</h3>
        <p>Because you are the boss and not our customer. It is our promise to you that we will mail you socks that we think you will enjoy. If you are not satisfied send the socks back and we will send you a new pair. Lastly, we are a social-entrepreneurship that supports causes in our community. Our current focus is Aunt Leah’s Place, a non-profit that supports foster children, homeless youth, and mothers’ in-need. www.auntleahs.org</p>
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-12">
        <h2>How It Works?</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <%= image_tag 'point-1-350.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
        <%= image_tag 'point-2-350.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
        <%= image_tag 'point-3-350.jpg', class: 'img-responsive' %>
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-12 text-center">
        <h2>Our Cool Socks</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= image_tag "GIft-350x435.jpg", class: "img-responsive" %>
        <small>Six Month Gift Subscription - $65.00</small>
    </div>
    <div class="col-md-3">
        <%= image_tag "Six-month-350x435.jpg", class: "img-responsive" %>
        <small>Six Month Sock Subscription - From $65.00 every 6 months</small>
    </div>
    <div class="col-md-3">
        <%= image_tag "cool-socks_project-2_11-350x435.jpg", class: "img-responsive" %>
        <small>Month to Month Subscription - $13 / month</small>
    </div>
    <div class="col-md-3">
        <%= image_tag "One-Year-350x435.jpg", class: "img-responsive" %>
        <small>One Year Sock Subscription - $120 / year</small>
    </div>
</div>